<mat-card class="example-card">
  <img src="https://companieslogo.com/img/orig/FDX-35c19ad4.png?t=1648042471" width="100%" />
  <mat-divider></mat-divider>
  <br>
  <mat-card-title-group>
    <mat-card-title>Sign up</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" data-test="signup-form" *ngIf="!created">
      <mat-form-field data-test="signup-control-first-name" class="form-field" appearance="fill">
        <mat-label>First name</mat-label>
        <input type="email" matInput formControlName="firstName" placeholder="" />
        <mat-error data-test="signup-control-first-name-error-message" *ngIf="
            FormControl['firstName'].hasError('required') && FormControl['firstName'].touched
          ">
          First name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Last name</mat-label>
        <input data-test="signup-control-input-last-name" type="email" matInput formControlName="lastName"
          placeholder="" />
        <mat-error data-test="signup-control-last-name-error-message"
          *ngIf="FormControl['lastName'].hasError('required') && FormControl['lastName'].touched">
          Last name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input data-test="signup-control-input-email" type="email" matInput formControlName="email" placeholder="" />
        <mat-error>{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input data-test="signup-control-input-password" type="password" matInput formControlName="password"
          [errorStateMatcher]="passwordMatcher" />
        <mat-error>{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

      <br />
      <div class="btn-container">
        <button [disabled]="signUpForm.invalid" data-test="signup-control-submit" mat-raised-button color="primary"
          (keyup.enter)="onSubmit()" type="submit" class="btn btn-primary">
          Sign Up
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>